#mapid {
    height: 300px;
    width: 400px;
}

.nextPrevBar {
    padding-top: 1em;
    padding-bottom: 1em;
}

#tabsSelectBy .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#tabsSelectBy .tab-content {
  color: black;
  background-color: #DDEDFF;
  padding: 5px 15px;
}

.userField {
    width: 7em;
}

/*Hide online metadata parts. They are shown if the style sheet for metadata is included.*/
.metaData, .metaDataBox {
    display: none;
}

.imageBox {
    float: left;
}